#discover{
    text-align: right;
    display: flex;
    justify-content: flex-end;
   
    margin-right: 5px;
   padding-bottom: 5px;
}
.bottomline{
    display: table-cell;
    vertical-align: text-bottom;
}
.input{
    display: flex;
    align-items: center;

}
.inputdescription{
    display: flex;
    align-items: top;
}
.description{
    width: 550px;
    min-width: 300px;
    height: 150px;
    vertical-align: top;
    word-break: break-all;
    white-space: wrap;
    resize: none;
    grid-column: 2;
}
.creaclass{
    text-align: center;
    color: sienna;
    font-size: 30px;
    font-family: "Notable Regular",Arial, Helvetica, sans-serif;
}
.name{
    grid-column: 2;
    text-align: center;
}
h3{
    color: saddlebrown;
    font-size: 15px;
    vertical-align: top;
}
#short-d{
    color: sienna;
    
}
.submit{
 margin-left: auto;
 margin-right: auto;
}
#name{
    color: sienna;
    vertical-align: top;
}
.perso{
    display: flex;
    flex-flow: row wrap;
}

.cellimg{
      display: flex;
      justify-content: center;
      background-color: rgb(121, 98, 82);
}

.celltext{
      line-height: 15px;
      padding-left: 5px;
}
.celltext2{
    margin-top: 15px;
    line-height: 15px;
    padding-left: 5px;
}
.search{
vertical-align: center;
}
.link{
      text-align: end;
      margin-right: 10px;
}
.icon{
    color: sienna;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;

}
:focus{
    box-shadow: 0 0 10px rgb(121, 98, 82);
}
.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: auto;
    right: auto;
    max-width: 600px;
    height: 300px;
    background: rgba(rgba(0, 0, 0, 0.466), green, blue, alpha);
}
#hidewindow{
    overflow: auto;
    height: 200px;
    width: 350px;
    max-width: calc(100vw -20px);
    max-height: calc(100vh -20px);
    background-color: rgb(255, 244, 231);
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-content: center;
    position: fixed;
    z-index: 2;
}
.closewindow{
    margin: 10px;
    color: rgb(156, 16, 16);

}
.hidden{
    margin-left: auto;
    margin-right: auto;
}
.imghide{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 130px;
    height: auto;
}
header{
    height: 70px;
    border-bottom: 1.5px solid #7c4724;
    padding: 0;
    z-index: 1;
    margin-bottom: 5px;
 
}

ul{
    list-style-type: none;
    top: 0;
    background-color: slategrey;
    left: 0;
    right: 0;
    margin-top: auto;
    padding-top: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding-bottom: 15px;
    padding-left: 150px;
}
li{
    padding: 5px;
    text-shadow: 0 0 2px rgb(153, 152, 152);
    font-family: "Notable regular",Arial, Helvetica, sans-serif;

}
main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 868px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 150px;
    background: rgb(230, 206, 176);
    border: 1.5px solid rgb(231, 211, 187);
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
    border-radius: 10px;

}
body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(255, 244, 231);
margin:0;
padding:0;
}
@font-face {
	font-family: "Notable regular";
    src: url('../Notable/Notable-Regular.ttf');
}
a{
    text-decoration: none;
    color: sienna;
}
a:hover{
    text-decoration: none;
    color: rgb(214, 142, 108);
}
table{
    width: 200px;
    border-collapse: collapse;
    margin: 40px;
    margin-top: 0; 
}
td{
    border: 1px solid sienna;
    height: 120px;
    line-height: 5px;
    font-size: 10px;
    margin-top: 5px;

    background-color: rgba(223, 130, 87, 0.507);
}
em{
    padding: 10px;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
@media screen and (max-width: 768px){
    .description{
        max-width: 200px;
    }
    ul{
        padding-left: 10px;
    }
    body{
        margin-left: 20px;
        margin-right: 20px;
    }

}

