#discover{
    text-align: right;
    display: flex;
    justify-content: flex-end;
   
    margin-right: 5px;
   padding-bottom: 5px;
}
.bottomline{
    display: table-cell;
    vertical-align: text-bottom;
}
.input{
    display: flex;
    align-items: center;

}
.inputdescription{
    display: flex;
    align-items: top;
}
.description{
    width: 550px;
    min-width: 300px;
    height: 150px;
    vertical-align: top;
    word-break: break-all;
    white-space: wrap;
    resize: none;
    grid-column: 2;
}
.creaclass{
    text-align: center;
    color: sienna;
    font-size: 30px;
    font-family: "Notable Regular",Arial, Helvetica, sans-serif;
}
.name{
    grid-column: 2;
}
h3{
    color: saddlebrown;
    font-size: 15px;
    vertical-align: top;
}
#short-d{
    color: sienna;
    
}
.submit{
 margin-left: auto;
 margin-right: auto;
}
#name{
    color: sienna;
    vertical-align: top;
}
.perso{
    display: flex;
    flex-flow: row wrap;
}

  .cellimg{
      display: flex;
      justify-content: center;
      background-color: rgb(121, 98, 82);
  }

  .celltext{
      line-height: 15px;
      padding-left: 5px;
  }
  .search{
vertical-align: center;
  }
  .link{
      text-align: end;
      margin-right: 10px;
  }
header{
    height: 70px;
    border-bottom: 3px solid #7c4724;
    padding: 0;
    z-index: 1;
    margin-bottom: 10px;
}
.icon{
    color: sienna;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    list-style-type: none;
    top: 0;
    background-color: slategrey;
    left: 0;
    right: 0;
    margin-top: auto;
    padding-top: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding-bottom: 15px;
}
li{
    padding: 5px;
    text-shadow: 0 0 2px rgb(153, 152, 152);
    font-family: "Notable regular",Arial, Helvetica, sans-serif;

}
main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 868px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 150px;
    background: rgb(230, 206, 176);
    border: 1.5px solid rgb(231, 211, 187);
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
    border-radius: 10px;

}
body{
font-family: Arial, Helvetica, sans-serif;
}
@font-face {
	font-family: "Notable regular";
    src: url('../Notable/Notable-Regular.ttf');
}
a{
    text-decoration: none;
    color: sienna;
}
a:hover{
    text-decoration: none;
    color: rgb(214, 142, 108);
}
table{
    width: 200px;
    border-collapse: collapse;
    margin: 40px;
    margin-top: 0;

    
}
td{
    border: 1px solid sienna;
    height: 120px;
    line-height: 5px;
    font-size: 10px;
    margin-top: 5px;

    background-color: rgba(223, 130, 87, 0.507);
}
em{
    padding: 10px;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

